<nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.page' | t: current: paginate.current_page, total: paginate.pages }}">
  <ul class="pagination__list" role="list">
    {%- if paginate.previous -%}
      <li>
        <a href="{{ paginate.previous.url }}" class="pagination__item">
          {{ 'general.pagination.previous' | t }}
        </a>
      </li>
    {%- endif -%}

    {%- for part in paginate.parts -%}
      <li>
        {%- if part.is_link -%}
          <a href="{{ part.url }}" class="pagination__item">{{ part.title }}</a>
        {%- else -%}
          <span class="pagination__item pagination__item--current" aria-current="page">{{ part.title }}</span>
        {%- endif -%}
      </li>
    {%- endfor -%}

    {%- if paginate.next -%}
      <li>
        <a href="{{ paginate.next.url }}" class="pagination__item">
          {{ 'general.pagination.next' | t }}
        </a>
      </li>
    {%- endif -%}
  </ul>
</nav>
