<div class="section password" {{ section.shopify_attributes }}>
  <div class="page-width text-center">
    <h1>{{ shop.name }}</h1>

    {%- if section.settings.heading != blank -%}
      <p>{{ section.settings.heading | escape }}</p>
    {%- endif -%}

    {% form 'storefront_password' %}
      <div class="field">
        <label for="Password">{{ 'customer.login.password' | t }}</label>
        <input type="password" name="password" id="Password" autocomplete="current-password">
      </div>
      <button type="submit" class="button">{{ 'customer.login.sign_in' | t }}</button>
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "Password page",
  "tag": "section",
  "class": "section-main-password",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Message",
      "default": "Opening soon"
    }
  ]
}
{% endschema %}
