<article class="section article" {{ section.shopify_attributes }}>
  {% render 'page-banner',
    banner_title: article.title,
    banner_image: section.settings.banner_image | default: article.image,
    breadcrumb_preset: 'article',
    breadcrumb_article: article,
    breadcrumb_blog: blog
  %}

  <div class="page-width">
    <header class="article__meta">
      <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
        {{ article.published_at | date: format: 'abbreviated_date' }}
      </time>
    </header>

    {%- if article.image -%}
      {{
        article.image
        | image_url: width: 1200
        | image_tag:
          loading: 'eager',
          widths: '400, 800, 1200',
          sizes: '(min-width: 990px) 80vw, 100vw',
          alt: article.image.alt | default: article.title
      }}
    {%- endif -%}

    <div class="rte article__content">
      {{ article.content }}
    </div>
  </div>
</article>

{% schema %}
{
  "name": "Article",
  "tag": "section",
  "class": "section-main-article",
  "settings": [
    {
      "type": "text",
      "id": "banner_subtitle",
      "label": "Banner subtitle",
      "default": "Home / Blog"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner image"
    }
  ]
}
{% endschema %}
