<article class="section article" {{ section.shopify_attributes }}>
  {% render 'page-banner',
    banner_title: article.title,
    banner_subtitle: section.settings.banner_subtitle | default: 'Home / Blog',
    banner_image: section.settings.banner_image | default: article.image
  %}

  <div class="page-width">
    <header>
      <h1>{{ article.title | escape }}</h1>
      <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
        {{ article.published_at | date: format: 'abbreviated_date' }}
      </time>
    </header>

    {%- if article.image -%}
      {{
        article.image
        | image_url: width: 1200
        | image_tag: loading: 'eager', widths: '400, 800, 1200', sizes: '(min-width: 990px) 80vw, 100vw'
      }}
    {%- endif -%}

    <div class="rte article__content">
      {{ article.content }}
    </div>
  </div>
</article>

{% schema %}
{
  "name": "Article",
  "tag": "section",
  "class": "section-main-article",
  "settings": [
    {
      "type": "text",
      "id": "banner_subtitle",
      "label": "Banner subtitle",
      "default": "Home / Blog"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner image"
    }
  ]
}
{% endschema %}
