<div class="section list-collections" {{ section.shopify_attributes }}>
  {% render 'page-banner',
    banner_title: 'Collections',
    banner_subtitle: section.settings.banner_subtitle | default: 'Home / Shop',
    banner_image: section.settings.banner_image
  %}

  <div class="page-width">
    <h1>{{ 'collections.general.title' | t }}</h1>

    <ul class="collection-list" role="list">
      {%- for collection in collections -%}
        <li class="collection-list__item">
          <a href="{{ collection.url }}">
            {%- if collection.featured_image -%}
              {{
                collection.featured_image
                | image_url: width: 600
                | image_tag: loading: 'lazy', widths: '200, 400, 600', alt: collection.title
              }}
            {%- endif -%}
            <h2>{{ collection.title | escape }}</h2>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Collections list",
  "tag": "section",
  "class": "section-main-list-collections",
  "settings": [
    {
      "type": "text",
      "id": "banner_subtitle",
      "label": "Banner subtitle",
      "default": "Home / Shop"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner image"
    }
  ]
}
{% endschema %}
