<div class="section password" {{ section.shopify_attributes }}>
  {% render 'page-banner',
    banner_title: section.settings.banner_title | default: 'Opening soon',
    banner_subtitle: section.settings.banner_subtitle | default: 'Home / Password',
    banner_image: section.settings.banner_image
  %}

  <div class="page-width text-center">
    <h1>{{ shop.name }}</h1>

    {%- if section.settings.heading != blank -%}
      <p>{{ section.settings.heading | escape }}</p>
    {%- endif -%}

    {% form 'storefront_password' %}
      <div class="field">
        <label for="Password">{{ 'customer.login.password' | t }}</label>
        <input type="password" name="password" id="Password" autocomplete="current-password">
      </div>
      <button type="submit" class="button">{{ 'customer.login.sign_in' | t }}</button>
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "Password page",
  "tag": "section",
  "class": "section-main-password",
  "settings": [
    {
      "type": "text",
      "id": "banner_title",
      "label": "Banner title",
      "default": "Opening soon"
    },
    {
      "type": "text",
      "id": "banner_subtitle",
      "label": "Banner subtitle",
      "default": "Home / Password"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Message",
      "default": "Opening soon"
    }
  ]
}
{% endschema %}
